.page-title {
 
  font-size: clamp(2.5rem, 5vw, 5rem);
  padding: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  text-align: center;
  margin: 0;
}

.page-subtitle{

  font-size: clamp(1rem, 3vw, 2rem);
  padding: 0.3rem 2rem 2rem 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  margin: 0;
}

.header {
  padding: 0rem 2rem;
  display: flex;
  position: absolute;
  top: 0.0rem;
  left:0;
}

/* Sections wrapper */
.sections {
  margin: 0 2rem; /* horizontal margin for left/right */
  display: flex;
  flex-direction: column;
  gap: 3rem; /* space between sections */
}

/* Each section spacing */
.section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2rem; /* horizontal gap between image and text */
}

/* Text area spacing */
.text-box {
  margin-top: 1rem;
}

/* Image spacing */
.image-wrapper {
  margin-bottom: 3rem; /* space below image */
  margin-top:3rem;
  height: auto;
}

/* Footer styling */
.footer {
  margin-top: 0;
  padding: 2rem 2rem;
  background: #111827;
  color: #e5e7eb;
  display: flex;
  justify-content: space-between;
}
.footer-left{
  margin-left: 2rem;


}
.footer-right {
  margin-right: 2rem;
}

.title-area {
  background-color: #f3f4f6; /* light gray, adjust as needed */
  padding: 3rem 2rem;
  text-align: center;
}

.interactive-mosfet {

  justify-content: center;
  margin: 5rem;
}


@media (max-width: 600px) {
  .text-area {
    padding: 0.5rem; /* Adjust padding for smaller screens */
  }
}


.image-box {
width: 100%;
max-width: 520px;
height: auto;
object-fit: cover;
display: block;
margin: 0 auto;
}
.image-box.moore {
max-width: 520px;
}

/* stack sections on smaller screens */
@media (max-width: 800px) {
.section {
grid-template-columns: 1fr;
}
.image-wrapper {
margin: 1rem 0;
justify-content: center;
}
.text-area {
padding: 0.5rem;
}
}